body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #095bb2;
}
a:hover {
    text-decoration: underline;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
